<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/shared.css">
    <link rel="stylesheet" href="../stylesheets/hobby.css">
    <script defer src="../src/shared.js"></script>
    <title>Hobby page</title>
</head>
<body class="flex-pane">
    <div class="off-screen-menu" id="offMenu">
        <ul>
            <li><a onclick="location.href='index.html'">Home</a></li>
            <li><a onclick="location.href='game.html'">Game</a></li>
            <li><a onclick="location.href='hobby.html'">Hobby</a></li>
            <li><a onclick="location.href='work.html'">Work</a></li>
        </ul>
    </div>
    
    <div class="nav">
        <div class="nav-title">
            <img id="Lamp"src="../assets/lamp.svg" alt="">
            <h1>Lamps Post</h1>
        </div>
        <div class="ham-menu" id ="hamMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-links" id="nav-links">
            <button class="nav-link" onclick="location.href='../index.html'">Home</button>
            <button class="nav-link" onclick="location.href='hobby.html'">Hobby</button>
            <button class="nav-link" onclick="location.href='game.html'">Game</button>
            <button class="nav-link" onclick="location.href='work.html'">Work</button>
        </div>
    </div>
    <div class="header">
        <h1>Hobby page</h1>
        <div id="header-spacer"></div>
    </div>
    <div class="content">
    <div class="hobby-content">
        <div class="content-box">
            <p>I enjoy hiking—it's a great way to stay active and connect with nature. The mountains and views in New Mexico are breathtaking. The fresh air and calm environment on a hike is a refreshing trainquility. </p>
        </div>
        <div class="content-box">
            <p>I play ultimate frisbee. It is a fun sport that I started playing in college. It lets me get away from my computer.</p>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="notes">
            <p>This website is still under construction, please mind bugs</p>
            <p>This website is hosted on github pages</p>
            <p>The assets I used are not mine, I do not own them</p>
        </div>
        <div class="media">
            <button class="media-link" onclick="window.open('https://github.com/LampCT')"><img id="git" src="../assets/git.svg" alt=""></button>
            <button class="media-link" onclick="window.open('https://github.com/LampCT')"><img id="git" src="../assets/disc.svg" alt=""></button>
            <button class="media-link" onclick="window.open('https://github.com/LampCT')"><img id="git" src="../assets/yt.svg" alt=""></button>
        </div>
    </div>
</body>
</html>