<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/shared.css">
    <link rel="stylesheet" href="../stylesheets/work.css">
    <script defer src="../src/shared.js"></script>
    <script defer src="../src/work.js"></script>
    <title>Work page</title>
</head>
<body class="flex-pane">
    <div class="off-screen-menu" id="offMenu">
        <ul>
            <li><a onclick="location.href='../index.html'">Home</a></li>
            <li><a onclick="location.href='game.html'">Game</a></li>
            <li><a onclick="location.href='hobby.html'">Hobby</a></li>
            <li><a onclick="location.href='work.html'">Work</a></li>
        </ul>
    </div>
    
    <div class="nav">
        <div class="nav-title">
            <img id="Lamp"src="../assets/lamp.svg" alt="">
            <h1>Lamps Post</h1>
        </div>
        <div class="ham-menu" id ="hamMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-links" id="nav-links">
            <button class="nav-link" onclick="location.href='../index.html'">Home</button>
            <button class="nav-link" onclick="location.href='hobby.html'">Hobby</button>
            <button class="nav-link" onclick="location.href='game.html'">Game</button>
            <button class="nav-link" onclick="location.href='work.html'">Work</button>
        </div>
    </div>
    <div class="header">
        <h1>Work</h1>
        <div id="header-spacer"></div>
    </div>
    <div class="content">
        <div class="content-box">
            <p>In the summers I work as a plumbing apprentice. I have learned a lot about the trade, working through difficult problems, and hard work. Contracts entailed installation or maintenance of residential and commericial plumbing systems. As well as rough-in plumbing. </p>
            <img id="headshot"src="../assets/HeadShot.png" alt="">
        </div>
        <div id="spacer"></div>
        <div class="content-box">
            <p> Created a rust chess program with move generation and a basic AI <br><br>
                Binary setwise operations <br> Enumeration <br> Domain-specific hashmaps <br> Minimax Search
            </p>
            <img id="cb"src="../assets/cb.png" alt="">
        </div>

    </div>
    <div class="footer">
        <div class="notes">
            <p>The website is now published</p>
            <p></p>
            <p>The assets I used are not mine, I do not own them</p>
        </div>
        <div class="media">
            <button class="media-link" onclick="window.open('https://github.com/LampCT')"><img src="../assets/git.svg" alt=""></button>
            <button class="media-link" onclick="window.open('https://github.com/LampCT')"><img src="../assets/disc.svg" alt=""></button>
            <button class="media-link" onclick="window.open('https://github.com/LampCT')"><img src="../assets/yt.svg" alt=""></button>
        </div>
    </div>
</body>
</html>